{{> head }}
<body>
{{> header }}
<div class="header-image-container">
    <div class="header-image">
        <img src="images/hero.jpg" />
    </div>
    <div class="header-text">
        <h1>Example blogging app</h1>
    </div>
    <div id="overlay"></div>
</div>

<div id="thumbnail-container">
{{> thumbnail }}
</div>

</body>
{{> footer }}