#blog-post-editor {
	padding: 4%;
	.input-container {
		margin-top: 2%;
		#description {
			width: 40%;
			height: 80px;
		}
		button {
			padding: 1%;
   			width: 98%;
    		margin-left: 1%;
    		margin-right: 1%;;
		}
	}
}